product:
  name: {product-name}
  version: {version}
  description: {product-description}
  arm-projects:
    - name: {project-name} # proj-<xxx-yyyy> project name in arm
      repository: armdocker.rnd.ericsson.se # optional, image registry url, use when images from different registires are fetched
      images:
        - {image}:{version}